spring:
  profiles:
    active: "prod"
  config:
    import: optional:env.yml

server:
  port: 8090

springdoc:
  api-docs:
    path: /api-docs

---

spring:
  config:
    activate:
      on-profile: "dev"

  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:webapp?useUnicode=yes&characterEncoding=UTF-8
    username: sa
    password:
    driver-class-name: org.h2.Driver

  sql:
    init:
      mode: ALWAYS

  mail:
    host: smtp.gmail.com
    port: 587
    username: example@example.name.example
    password: 1234
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

---

spring:
  config:
    activate:
      on-profile: "prod"

  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5432/bankaccount?createDatabaseIfNotExist=true
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL81Dialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${USERNAME_EMAIL}
    password: ${USERNAME_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
