@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --onSurface: 27 28 31;
   --onSurface-variant: 69 69 78;
}

@layer base {
   input[type='number']::-webkit-outer-spin-button,
   input[type='number']::-webkit-inner-spin-button,
   input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
   }
}