.nav--state--active:hover {
   background-color: rgb(var(--onSurface) / 8%);
}

.nav--state--inactive:hover {
   background-color: rgb(var(--onSurface-variant) / 8%);
}

.nav--state--active:focus {
   background-color: rgb(var(--onSurface) / 12%);
}

.nav--state--inactive:focus {
   background-color: rgb(var(--onSurface-variant) / 12%);
}